<% if @resume.skill_line_items.present? %>
  <div class="text-2xl text-center font-semibold pt-4"><span class="pr-2">Skills</span></div>
  <% @resume.skill_line_items.order_by_created_at.each do |sli| %>
    <div class="my-2">
      <div class="flex justify-between items-center">
        <div class="text-lg font-semibold"><%= sli.name %></div>
      </div>
      <p><%= sli.description %></p>
    </div>
  <% end %>
<% end %>
