<%= render "layouts/nav" %>
<div class="max-w-lg mx-auto p-2">
  <p class="text-center mb-4">Edit Skills</p>
  <% if @skill.skill_line_items.empty? && @skill != Skill.first%>
    <p class="text-sm">Would you like to copy items from the previous version?</p>
    <br>
    <%= link_to "Copy skill items", edit_resume_skill_path(@resume.id, @resume.skill.id, duplicate: true), class: "bg-blue-400 text-white rounded text-center p-2" %>
    <br>
    <br>
    <hr>
  <% end %>
  <%= render partial: "form" %>
</div>
